
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>ERROR info</title>
    <body>
        <h2>ERROR info</h2>
        {% if error_code == 1 %}
            <p>QUERY PARAMS ERROR: Check query params.</p>
            <p>Required: from=id, to=id, value=integer</p>
            <p>Optional: currency=RUB(default)</p>
        {% endif %}
        {% if error_code == 2 %}
            <p>ID ERROR: Check clients ids.</p>
        {% endif %}
        {% if error_code == 3 %}
            <p>VALUE PARAM ERROR: You forgot value param or value less or equal 0.</p>
        {% endif %}
        {% if error_code == 4 %}
        <p>CURRENCY ERROR: Wrong currency</p>
        {% endif %}
        <p>Check /api/help for more information"</p>
    </body>
</html>