
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>API info</title>
    <body>
        <h2>API info</h2>
        <p>http://api/client : Clients List</p>
        <p>http://api/client/id : Client Details</p>
        <p>http://api/operation : Operations List</p>
        <p>http://api/operation/id : Operation Details</p>
        <p>http://api/transaq : Transaction operation</p>
        <p>Required params: from=id, to=id, value=integer. Optional: currency="RUB"(default)</p>
        <p>Returns: ERROR: error details / SUCCESS: operation details as JSON</p>
        <p>Avaliable currencys you can find <a href="https://openexchangerates.org/api/currencies.json">here</a>
    </body>
</html>
