
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>API info</title>
    <body>
        <h2>API info</h2>
        <p>/api/client : Clients List</p>
        <p>/api/client/id : Client Details</p>
        <p>/api/bankoper : bank operation list (depo/draw)</p>
        <p>/api/bankoper/id : bank operation details (depo/draw)</p>
        <p>/api/depo : put money on clients balance
            <p>Required params: id=id, value=value</p>
        </p>
        <p>/api/draw : draw money from clients balance
            <p>Required params: id=id, value=value</p>
        </p>
        <p>/api/operation : Operations List</p>
        <p>/api/operation/id : Operation Details</p>
        <p>/api/transaq : Transaction operation</p>
        <p>Required params: from=id, to=id, value=integer. Optional: currency="RUB"(default)</p>
        <p>Returns: ERROR: error details / SUCCESS: operation details as JSON</p>
        <p>Avaliable currencys you can find <a href="https://openexchangerates.org/api/currencies.json">here</a>
    </body>
</html>
